html{
    scroll-behavior: smooth;
}

.cabecera{
    justify-items: center;
    width: 100%;
    color: #800020;
    
}

.cuerpo{
    display: flex;
    /* border: solid 5px rgb(255, 0, 208); */
    background-color: #FAF3E0;
    color: #2C3E50;
}

.columna1{
    width: 25%;
    /* border: solid 5px rgb(255, 0, 0); */
    text-align: center;
    background-color: #34495E;
    color: white;
    padding: 20px;
    width: 25%;
    border-radius: 5px;
}

.menu{
    background: #FAF3E0;
    color: #6B8E23;
    border-radius: 15%;
}

.menu>a{
    color: #6B8E23;
}

.entrada{
    width: 90%;
    padding: 8px;
    margin: 5px ;
    border: none;
    border-radius: 5px;
}

.enviar{
    background-color: #C4A000;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

iframe{
    width: 113%;
}

.columna2{
    display: flex;
    width: 50%;
    /* border: solid 5px rgb(26, 255, 0); */
    flex-direction:column;
    border-radius: 5px;
}

.columna21{
    display: flex;
    width: 50%;
    /* border: solid 5px rgb(26, 255, 0); */
    flex-direction:column;
    border-radius: 5px;
}


.columna3{
    width: 25%;
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    /* border: solid 5px rgb(238, 255, 0); */
}

h3{
    text-align: center;
}

.centro{
    display:table-column;
    width: 50%;
    padding-left: 25%;
}

.lugar{
    display: flexbox;
    width: 100%;
    border: black 1px solid;
    text-align: center;
    background-color: #6B8E23;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.lugar>img{
    width: 75%;
}

.centro1{
    display:table-column;
    width: 100%;
    /* padding-left: 25%; */
}

.lugar1{
    display: flexbox;
    width: 100%;
    border: black 1px solid;
    text-align: center;
    background-color: #6B8E23;
    /* padding: 20px; */
    border-radius: 5px;
    color: white;
}

.lugar1>div>p{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}


.lugar1>img{
    width: 25%;
   
    border-radius: 5px;
}



.noticias{
    text-align: center;
}

footer{
    background-color: #2C3E50;
    color: white;
    text-align: center;
    padding: 15px;
}

.galeria{
    
     border: solid 5px rgb(238, 255, 0);
     display:table-column;
    width: 100%;

}


@media (max-width: 700px){
    header {
        position: relative;
        z-index: 900;
    }
    
    .menu {
        width: 100%;
        height: auto;
        top: calc(100px + 10px); /* Espacio debajo del header */
        position: absolute;
        text-align: center;
        padding: 10px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        z-index: 800;
    }
    .menu h3 {
        display: none; /* Oculta el título "Menu" en móviles */
    }

    .menu a {
        display: inline-block; /* Poner enlaces en línea */
        margin: 0;
        padding: 5px 10px;
        background: #444;
        border-radius: 5px;
        font-size: 75%;
    }

    iframe{
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .lugar1>div>p{
        font-size: 75%;
    }
}